<!--The whole content below can be removed with the new code.-->
<div class="containerX">
  <div class="colorNested box" fxLayout="column">
    <header>
      <button md-button title="显示侧边菜单" class="example-fab" (click)="sidenav.toggle()">
        <span class="mat-button-wrapper">
          <md-icon role="img" svgicon="menu" aria-label="menu" class="mat-icon sidenav-open">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
          </md-icon>
        </span>
      </button>
      操作维护管理系统
     </header>
    <div id="main" [fxLayout]="direction" fxLayout.xs="column" fxFlex>
      <md-sidenav-container class="example-container">
        <md-sidenav #sidenav mode="side" opened="false" class="example-sidenav">
          Drawer content
          
        </md-sidenav>
        <div class="example-sidenav-content">Main content</div>
        
      </md-sidenav-container>
    </div>
    <footer>footer</footer>
  </div>
</div>

